<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
    <title>hi</title>
</head>
<body>
<h1> Login Test </h1>
<button onclick="test()">start</button>
</body>
<script>
    function login() {
        const loginDTO = {
            "email": $(`#email`).val(), "password": $(`#pwd`).val()
        }
        fetch("/auth/login", {
            method: "post",
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            body: JSON.stringify(loginDTO)
        }).then((res) => {
            if(res.status===200){
                history.back();
            }
        });
    }

    function signup() {
        fetch("/auth/signup", {
            method: "post",
            headers: {
                "Content-Type": "application/json;charset=utf-8"
            },
            body: JSON.stringify({
                "userId": $(`#email`).val(), "userPwd": $(`#pwd`).val(), "userNickname": "dlsdud"
            })
        }).then(res => {
            console.log(res);
        });
    }
</script>
</html>